/* animações de scroll
   apenas em telas grandes
*/
@media screen and (min-width: 960px)
{
    .anime{
        opacity: 0;
    } 
    
    .to-rigth{
       transform: translate3d(-60px, 0, 0);
    }
    
    .to-left{
        transform: translate3d(60px, 0, 0);
    }
    
    .to-bottom{
        transform: translate3d(0, -50px, 0);
    }
    
    .anime-init{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 0.6s;
    }
}