@media screen and (max-width: 960px)
{
    /*-- menu responsivo --*/
    .menu-links{
        display: none;
    }
    
    .btn-responsive-menu i{
        display: block;
    }
    
    .menu-responsive-active{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;                
        left: 0;
        top: 40px;
        z-index: 10;
        background-color: #f8f8f8;
        padding: 20px;        
    }
        
    
}