@media screen and (max-width: 960px)
{
    /*-- menu responsivo --*/
    .menu-links{
        display: none;
    }
    
    .btn-responsive-menu i{
        display: block;
    }
    
    .menu-responsive-active{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;                
        left: 0;
        top: 45px;
        z-index: 10;
        background-color: #1F2831;
        padding: 20px;        
    }
    
    /*-- banner  --*/
    .banner-container h1{
     font-size: 4em !important;  
     margin-bottom: 10px;
    }
    
    .banner-bg{
        height: 600px;
    }
    
    /*-- sobre  --*/
    .about-text{
        order: 2;
    }
    
    .about-photo{
        order: 1;
        margin-bottom: 50px;
    }
}