/*---- CORES ------
    text-primario: #222;
    texto-secundario: #555;
    azul-claro: #00baff;    
    azul-escuro: #1F2831;
*/

/*-- Reset --*/
body, header, section, ul, div,
h1, h2, h3, p{
    margin: 0;
}

html{
    overflow-x: hidden;
}

li{
    list-style: none;
}


/*-- geral --*/
body{
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif, arial;
    color: #222;
}


.center{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    font-size: 2.5em;
    color: #00baff;
}

h3{
    font-size: 2em;
    color: #fff;
}

p{
    font-size: 1.8em;
}

.btn{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 90px;    
    font-size: 1.8em;
    
    background-color: #00baff;
    border-radius: 5%;
    margin: 10px;
}


.btn:hover{
    background-color: #008de5;
    transition: 0.4s;
}


/*-- Menu --*/
.menu-bg{
    background-color: #1F2831;    
    background-color: rgba(0,0,0,.6);
    border-bottom: 1px solid #fff;
    z-index: 10; 
    position: fixed;    
    width: 100%;
    /* opacity: 0.9;*/
}

.menu-container{     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.80em;
}

.btn-responsive-menu i{    
    display: none;
    font-size: 1.60em;
    padding: 10px 15px;
    color: #00baff;
}

.menu-container a{
    color: #fff;
    text-decoration: none;
}

.logo a{
    font-size: 1.60em;
    padding: 10px;
    color: #00baff;
}

.menu-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;   
}

.menu-links li{
    padding: 18px;
}

.menu-links li a:before{
    content: "<";   
    opacity: 0;
}

.menu-links li a:after{
    content: "/>";   
    opacity: 0;
}

.menu-links li a:hover:before,
.menu-links li a:hover:after,
.menu-links li a:hover{
    opacity: 1;
    transition: 0.5s;
    color: #00baff;
}


/*-- banner --*/
.banner-bg{    
    width: 100%;
    background-image: url("../imgs/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    -ms-justify-content: center;
    align-items: center;

}

.banner-container{    
    margin-top: 60px;
    color: #fff;
    text-align: center;    
}

.banner-container h1{
    font-size: 5em;
    
}

.banner-container p:after{
    content: " ";
    display: block;
    background-color: #fff;
    height: 3px;
    width: 200px;
    margin: 10px auto 20px auto;
}

.btn-contact{
    margin: 60px auto;
    padding: 15px 20px;
}

.banner-container .line{
    text-decoration: line-through;
}


/*-- Sobre --*/
.about-container{
    padding: 100px 15px;
    text-align: center;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-text p{
    color: #555;
    max-width: 455px;
    line-height: 1.6em;
    display: block;
    text-align: left;
    margin: 20px auto;
    font-size: 1.85em;
}

.about-photo img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    
}


/*--  habilidades  --*/
.skills-bg{
    text-align: center;
    background: #1F2831;
}

.skills-container{    
    padding: 80px 15px;    
}

.skills-container h2{
    margin-bottom: 30px;
}

.skills-list-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;    
}

.skills-list{
    padding: 15px;
    max-width: 400px;
    min-width: 250px;
    border: 2px solid #00baff;
    margin: 5px;
}

.skills-list i{
    font-size: 4em;
    padding: 10px;
    color: #00baff;
}

.skills-list h3:after{
    content: " ";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #00baff;
    margin: 0 auto;
    margin-bottom: 15px;
}

.skills-list li{
    margin: 5px;
    text-align: left;
    font-size: 1.8em;
    color: #fff;
}

.skills-list li:before{
    content: "- ";
    color: #00baff;
}

/*--  Contato  --*/
.contact-container{
    padding: 100px 15px;    
}

.info-container p{
    display: block;
}

.btn-info{
    text-align: center;
    border-radius: 5%;
    padding: 5px 20px;
    font-size: 2em;
    color: #fff;
    background-color: #00baff;
    display: inline-block;
}

.btn-info:hover{
     background-color: #008de5;
     transition: 0.4s;
}

/*-- footer --*/
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #fff;
    background-color: #1F2831;
}