//BANNER
.banner-bg{
  width: 100%;
  height: 650px;
  @include flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/banner.jpg');
  @include background-config; 
}

.banner-container{
  text-align: center;
  color: #fff;
  
  
  a{ 
    @include button;
    @include typograph(2);
  }
}

//SOBRE
.about-container{
  @include center;  
}

