footer{
  padding: 50px 0;  
  background-color: #111;
  color: #fff;
  text-align: center;
    
  h3{
    @include separator(2);
  }
   
  
}

.social-cotainer{
  margin: 15px;
  
  a{
    color: #fff;
    @include typograph(4);
    margin: 0 15px;
        
    &:hover{
      color: $secundary_color;
    }
  }
}